<app-navbar>

</app-navbar>
<section class="section">
  <div class="modal"  [ngClass]="status ? 'is-active' : ''">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Masukkan Data Berita</p>
        <button class="delete" aria-label="close" (click)="tooglemodals()"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <div class="control">
            <label>Nama</label>
            <input class="input is-primary" type="text" placeholder="Primary input" [(ngModel)]="nama">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label>Penerbit</label>
            <input class="input is-primary" type="text" placeholder="Primary input" [(ngModel)]="penerbit">
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="SaveChanged()">
          <span class="icon">
            <i class="fa fa-save"></i>
          </span>
          <span>Save changes</span>
        </button>
        <button class="button" (click)="tooglemodals()">
          <span class="icon">
            <i class="fa fa-times"></i>
          </span>
          <span>Cancel</span>
        </button>
      </footer>
    </div>
  </div>
  <button class="button is-link" (click)="tooglemodals()">
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
    <span>Tambah Data</span>
  </button>
  <table class="table  is-striped is-hoverable is-fullwidth">
    <thead>
      <th>Nama Buku</th>
      <th>Penerbit</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of rates | async">
        <td>{{item.nama}}</td>
        <td>{{item.penerbit}}</td>
        <td>
          <button class="button is-danger" (click)="Delete(item)">
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
            <span>Delete</span>
          </button>
          <button class="button is-success" (click)="UpdateForm(item)">
            <span class="icon">
              <i class="fa fa-edit"></i>
            </span>
            <span>Update</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<app-footer></app-footer>