<app-navbar>

</app-navbar>
<section class="section">
<button class="button is-link">
  <span class="icon">
    <i class="fa fa-plus"></i>
  </span>
  <span>Tambah Data</span>
</button>
<table class="table  is-striped is-hoverable is-fullwidth">
  <thead>
    <th>Nama Buku</th>
    <th>Penerbit</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of rates | async">
      <td>{{item.nama}}</td>
      <td>{{item.penerbit}}</td>
      <td>
        <button class="button is-danger" (click)="Delete(item)">
          <span class="icon">
            <i class="fa fa-trash"></i>
          </span>
          <span>Delete</span>
        </button>
        <button class="button is-success" (click)="UpdateForm(item)">
          <span class="icon">
            <i class="fa fa-edit"></i>
          </span>
          <span>Update</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</section>
<app-footer></app-footer>